body
{
    background-color: whitesmoke;
    font-family: "Gill Sans", sans-serif;
}

main
{
    border: 3px solid black;
    padding: 20px;
    margin: auto;
    width: 70%;
    height: 800px;
    border-radius: 8px;
    background-color: darkgrey;
}

header
{
}

.cl1
{
    margin: auto;
    width: 47%;
    height: 100px;
    float: left;
}
.cl2
{
    margin: auto;
    width: 47%;
    height: 115spx;
    float: right;

}

.img1
{
    width: 100px;
    height: 100px;
    float: right;
}

.s1

.cl3
{
    border: 0px solid lightgrey;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 20%;
    height: 200px;
    float: left;
}
.cl4
{
    border: 0px solid lightgrey;
    padding: 5px;
    border-radius: 8px;
    margin: auto;
    width: 75%;
    height: 200px;
    float: right;
}
.cl5
{   margin-top: 10px; 
    border: 0px solid white;
    margin: auto;
    width: 20%;
    height: 200px;
    float: left;
    font-size: 20px;
}
.cl6
{
    border: 0px solid red;
    margin: auto;
    width: 77%;
    height: 200px;
    float: right;
    font-size: 13px;
}
.cl7
{
    border: 0px solid black;
    margin: auto;
    width: 20%;
    height: 200px;
    float: left;
}
.cl8
{
    border: 0px solid red;
    margin: auto;
    width: 77%;
    height: 250px;
    float: right;
}

section{
    border: 3px solid lightgrey;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    clear: both;
    height: 200px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}