p {background-color: green;
   text-decoration-style: double;




}

ol {color: white;


}

legend { margin: 0;
  padding: 30px 0;
  color:  darkred  ;
 text-shadow: 1px 1px 2px whitesmoke;, 0 0 1em white;, ;
 padding: 10px;
 background-color: black;
 font-family: monospace;
     


}

li {background-color: black;
	color: darkred;



}

}

footer  {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: whitesmoke; /* Couleur de fond du footer */
    color: darkred; /* Couleur du texte du footer */
    padding: 5px; /* Espace intérieur du footer */
}

q1 { color: green;



}

body { background-color:whitesmoke; }

marquee  { background-color:black;
			color:white }

fielset {background-color: blue}
