h1 {
  margin: 0;
  padding: 30px 0;
  color:  black  ;
 text-shadow: 1px 1px 2px greenyellow;, 0 0 1em white;, ;
 padding: 10px;
 background-color: green;
}

a href
 {color:  purple;}


.stylecss {
  background-color: ededed;
  text-align: center;

}

p {
  font-family: verdana;
  font-size: 20px;
}

stylecss2 {
  background-color: ededed;
}


h3  {
 		text-align: center;
 		text-shadow: 1px 1px 2px red, 0 0 1em #c80000  #c80000 ;
 		color:  
 		#1d9026  ;
 		text-decoration: ;



}

marquee {

           color:  #1d9026 ;
           background-color: black;
           font-family: serif;


}




.imgdefond {
  padding: 0.0.4%;
  background-color: white;
  position: relative;
}

.imgdefond :before {
  content: "";
  width: 33.33%;
  height: 100%;
  background-color: #0055A4;
  position: absolute;
  top: 0;
  left: 0;
}

.imgdefond :after {
  content: "";
  width: 33.33%;
  height: 100%;
  background-color: #EF4135;
  position: absolute;
  top: 0;
  right: 0;
}




