h1 {font-family: Verdana;
    color:  #003057;
    text-shadow: 1px 1px 1px black;

}

button {
    background-color: #F4FAFF;
    border: 2pxsolid #003057;
    border-radius: 30px;
    box-shadow: #003057 4px 4px 0 0 ;
    color: #003057;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 27px;
    padding: 0 18px;
    line-height: 50px;
    font-family: Verdana;
    text-align: center;
    text-decoration: none;
    user-select: none;
    transition: 0.1;
    width: 400px;
    margin: 10px;

    
}