body{

		background-color : blueviolet;

		
	}

h1 {color: red;
	font-size : 40px;
 	text-align: center;




}


h2,h3

{ color: black;



}

div 
{ border: 7px solid darkred;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12%;
	padding: 2%;
	color: whitesmoke;
	border-radius:10%;




}

.groupe1 {background-color: yellow; }

.groupe2 { background-color: red;}



.b1 { background-color: red;
	 color: blue;
	 border: none;
	 border-radius: 5px;
	 padding: 10px 20 px;
	 text-align: center;
	 margin: 10 px;
	 cursor: pointer;
	 transition: color 0.3s ease;
	 width: 150px



}

		/* bouton survol */
		
.b1:hover { color:indianred; 
				background-color: blue;
				width: 100	px;
	

		}
