main {
		border: 6px solid red;
		margin-left: 25%;
		width: 60%;
		height: 800px;
		background-color: whitesmoke;




}

.c1  {border: 6px solid red;
	  magin 




}

.section1 {background-color: ghostwhite;}

.infophoto {float: right;


}